@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <main>
        <div class="text-center">
            <h1 class="jumbotron">Bem vindo</h1>
            <div class="card-group">
                <div class="card">
                    <div class="card-body bg-primary text-white">
                        <img src="/img/011-medical-history.svg" class="card-img-top" alt="icon historico medico">
                        <h5 class="card-title">Resultado de Exames</h5>
                    </div>
                </div>
                <div class="card" .bg-primary>
                    <div class="card-body bg-primary text-white">
                        <img src="/img/008-stopwatch.svg" class="card-img-top" alt="icon agendamento exames">
                        <h5 class="card-title ">Agendamento de Exames</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body bg-primary text-white">
                        <img src="/img/006-first-aid-kit.svg" class="card-img-top" alt="icon para fazer consultas">
                        <h5 class="card-title">
                            Consultas
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("Test")
