html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
    height: 40px;
    width: 40px;
}

img:hover{
    cursor: pointer
}

/* Estilo para as estrelas */
.star {
    cursor: pointer;
    display: inline-block; /* Para tornar as estrelas uma ao lado da outra */
    font-size: 24px; /* Ajuste o tamanho das estrelas conforme necessário */
    margin-right: 5px; /* Espaçamento entre as estrelas */
}

    /* Estilo para as estrelas destacadas */
    .star.highlighted {
        color: gold;
    }
